{% extends "base.html" %}

{% block content %}
<h1>Мнение пользователей сайта о чём-либо</h1>
<h2>Войти</h2>
<form action="/login" method="get" ><button type="submit" value="Войти" aria-setsize="100px">Войти</button></form>
<h2>Зарегистрироваться</h2>
<form action="/register" method="get"><button type="submit" value="Зарегестрироваться">Зарегестрироваться</button>
</form>
<h2>Посмотреть интересные для посещения места Москвы</h2>
<form action="/exhibitions" method="get" ><button type="submit" value="Войти" aria-setsize="10px">
    Посмотреть интересные для посещения места Москвы</button></form>
<h2>Добавить пост</h2>
<form action="/news" method="get" ><button type="submit" value="Войти" aria-setsize="10px">Добавить контент</button>
</form>
<h2> Добавить рисунок</h2>
<form action="/paintings" method="get" ><button type="submit" value="Войти" aria-setsize="10px">Добавить рисунок</button>
</form>
<h2>Посмотреть галерею пользователей</h2>
<form action="/gallery" method="get" ><button type="submit" value="Войти" aria-setsize="10px">
    Посмотреть галерею пользователей</button>
</form>
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
</div>
{% endfor %}
{% endblock %}